# Вопрос 2
Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. 

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [16]:
from scipy import stats

import pandas as pd

In [11]:
data = pd.read_csv('AUCs.txt', sep='\t')
data = data.drop(['Unnamed: 0'], axis=1)
data

     C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0   0.763   0.768    0.771      0.798
1   0.599   0.591    0.590      0.569
2   0.954   0.971    0.968      0.967
3   0.628   0.661    0.654      0.657
4   0.882   0.888    0.886      0.898
5   0.936   0.931    0.916      0.931
6   0.661   0.668    0.609      0.685
7   0.583   0.583    0.563      0.625
8   0.775   0.838    0.866      0.875
9   1.000   1.000    1.000      1.000
10  0.940   0.962    0.965      0.962
11  0.619   0.666    0.614      0.669
12  0.972   0.981    0.975      0.975
13  0.957   0.978    0.946      0.970

### Критерий знаковых рангов Уилкоксона

$H_0\colon med\left(X_1-X_2\right)=0,$

$H_1\colon med\left(X_1-X_2\right)\neq0$

In [58]:
# res_w = {}
# res_p = {}

# for i in range(len(data.columns)):
#     ws = {}
#     ps = {}
#     for j in range(len(data.columns)):
#         if i >= j:
#             continue
#         ws[data.columns[j]] = stats.wilcoxon(data.iloc[:,i], data.iloc[:,j])[0]
#         ps[data.columns[j]] = stats.wilcoxon(data.iloc[:,i], data.iloc[:,j])[1]
#     res_w[data.columns[i]] =  ws
#     res_p[data.columns[i]] =  ps
        

# res_w = pd.DataFrame(res_w)
# res_p = pd.DataFrame(res_p)

In [64]:
corr_data = []

for i in range(len(data.columns)):
    for j in range(len(data.columns)):
        if i >= j:
            continue
        w, p = stats.wilcoxon(data.iloc[:,i], data.iloc[:,j])
        corr_data.append([data.columns[i], data.columns[j], w, p])

In [67]:
sales_correlation = pd.DataFrame.from_records(corr_data)
sales_correlation.columns = ['clf1', 'clf2', 'corr', 'p']

In [68]:
sales_correlation

      clf1       clf2  corr         p
0     C4.5     C4.5+m   6.5  0.010757
1     C4.5    C4.5+cf  43.0  0.861262
2     C4.5  C4.5+m+cf  11.0  0.015906
3   C4.5+m    C4.5+cf  17.0  0.046333
4   C4.5+m  C4.5+m+cf  22.0  0.327826
5  C4.5+cf  C4.5+m+cf  10.0  0.022909

In [69]:
sales_correlation[sales_correlation.p == min(sales_correlation.p)]

   clf1    clf2  corr         p
0  C4.5  C4.5+m   6.5  0.010757

In [74]:
(sales_correlation.p < 0.05).value_counts()

True     4
False    2
Name: p, dtype: int64

# Вопрос 5
Сравнивая 4 классификатора между собой, мы проверили 6 гипотез. Давайте сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

## Поправка на множественную проверку

### Метод Холма

In [75]:
from statsmodels.sandbox.stats.multicomp import multipletests 

reject, p_corrected, a1, a2 = multipletests(sales_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [76]:
sales_correlation['p_corrected'] = p_corrected
sales_correlation['reject'] = reject

In [77]:
sales_correlation

      clf1       clf2  corr         p  p_corrected  reject
0     C4.5     C4.5+m   6.5  0.010757     0.064543   False
1     C4.5    C4.5+cf  43.0  0.861262     0.861262   False
2     C4.5  C4.5+m+cf  11.0  0.015906     0.079532   False
3   C4.5+m    C4.5+cf  17.0  0.046333     0.138998   False
4   C4.5+m  C4.5+m+cf  22.0  0.327826     0.655651   False
5  C4.5+cf  C4.5+m+cf  10.0  0.022909     0.091636   False

### Метод Бенджамини-Хохберга

In [78]:
reject, p_corrected, a1, a2 = multipletests(sales_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [79]:
sales_correlation['p_corrected'] = p_corrected
sales_correlation['reject'] = reject
sales_correlation

      clf1       clf2  corr         p  p_corrected  reject
0     C4.5     C4.5+m   6.5  0.010757     0.045818    True
1     C4.5    C4.5+cf  43.0  0.861262     0.861262   False
2     C4.5  C4.5+m+cf  11.0  0.015906     0.045818    True
3   C4.5+m    C4.5+cf  17.0  0.046333     0.069499   False
4   C4.5+m  C4.5+m+cf  22.0  0.327826     0.393391   False
5  C4.5+cf  C4.5+m+cf  10.0  0.022909     0.045818    True