In [1]:
import statsmodels
import scipy as sc
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [7]:
data = pd.read_csv('botswana.tsv', sep='\t')

In [8]:
data

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,0,16,7,protestant,2.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4357,2,28,7,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4358,4,24,5,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4359,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0
4360,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0

In [9]:
data.religion.value_counts()

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

In [10]:
data.dropna()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0
5,1,30,5,spirit,5.0,1.0,0.0,1,24.0,7.0,1,1.0,0.0,0.0,0.0
6,3,42,4,other,3.0,1.0,0.0,1,15.0,11.0,1,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4353,9,49,0,protestant,5.0,0.0,0.0,1,15.0,0.0,0,0.0,1.0,0.0,0.0
4354,3,31,2,protestant,4.0,1.0,1.0,1,18.0,0.0,0,0.0,1.0,0.0,0.0
4355,4,27,6,protestant,4.0,1.0,1.0,1,17.0,7.0,0,0.0,0.0,0.0,0.0
4359,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0
4360,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0

In [23]:
data['nevermarr'] = data.agefm.isna().astype('int')

In [26]:
data.drop('evermarr', axis=1,inplace=True)

In [27]:
data['agefm'] = data.agefm.fillna(0)

In [31]:
data[data.heduc.isna() & data.nevermarr==1]

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
3,0,24,12,other,2.0,1.0,0.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
15,0,26,7,catholic,4.0,1.0,1.0,0.0,NaN,1,1.0,1.0,0.0,0.0,1
16,4,38,7,protestant,5.0,1.0,1.0,0.0,NaN,1,1.0,1.0,0.0,1.0,1
17,2,47,5,spirit,1.0,1.0,0.0,0.0,NaN,1,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,4,31,0,spirit,6.0,1.0,1.0,0.0,NaN,0,0.0,0.0,0.0,0.0,1
4352,4,35,3,spirit,6.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,1
4356,0,16,7,protestant,2.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,1
4357,2,28,7,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,1
4358,4,24,5,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,1

In [ ]:
lambda x: if row.nevermarr==1 and data.heduc.isna()

In [32]:
def fill_nas_heduc(row):
    if row.nevermarr==1 and row.heduc.isna():
        return -1

In [ ]:
def loop_impl(df):
    cutoff_date = datetime.date.today() + datetime.timedelta(days=2)
    result = []
    for i in range(len(df)):
        row = df.iloc[i]
        result.append(
      eisenhower_action(
        row.priority == 'HIGH', row.due_date <= cutoff_date)
    )
  return pd.Series(result)

In [33]:
data[''].apply(fill_nas_heduc)

AttributeError: 'Series' object has no attribute 'nevermarr'

In [ ]:
m1 = smf.ols('wage ~ exper + union + goodhlth + black + female + married +'\
                    'service + educ + belowavg + aboveavg', 
             data=data)
fitted = m1.fit()
print(fitted.summary())