# Вопрос 1
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [35]:
import pandas as pd

In [36]:
data = pd.read_csv('water.txt', sep='\t')

In [37]:
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [38]:
from scipy import stats
stats.pearsonr(data.mortality, data.hardness)

(-0.6548486232042465, 1.033133926034952e-08)

In [39]:
stats.spearmanr(data.mortality, data.hardness)

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

# Вопрос 3
Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [40]:
s = data[data.location == "South"]
n = data[data.location == "North"]

In [41]:
stats.pearsonr(s.mortality, s.hardness)

(-0.6021532715484158, 0.0011346743048161923)

In [42]:
stats.pearsonr(n.mortality, n.hardness)

(-0.3685978383288719, 0.02934465904711051)

# Вопрос 4
Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.  

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [43]:
a = 718
b = 203
c = 515
d = 239

In [44]:
mcc = (a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
mcc

0.10900237458678963

# Вопрос 5
В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [45]:
from scipy.stats import chi2_contingency

In [46]:
obs = np.array([[a, b], [c, d]])
chi2_contingency(obs)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))

# Вопрос 6
В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [47]:
w1 = 203
w2 = 718
m1 = 239
m2 = 515

w = w1+w2
m = m1+m2

w1_sh = w1/(w1+w2)
m1_sh = m1/(m1+m2)

diff = m1_sh-w1_sh
diff

0.09656353231552606

In [48]:
# def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
#     z = scipy.stats.norm.ppf(1 - alpha / 2.)   
#     p1 = float(sum(sample1)) / len(sample1)
#     p2 = float(sum(sample2)) / len(sample2)
    
#     left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
#     right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
#     return (left_boundary, right_boundary)

In [51]:
from scipy import stats
alpha = 0.05

z = stats.norm.ppf(1 - alpha / 2.)   
p1 = m1_sh
p2 = w1_sh

left_boundary  = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ m + p2 * (1 - p2)/ w)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ m + p2 * (1 - p2)/ w)

print (left_boundary, right_boundary)

0.053905233215813156 0.13922183141523897

# Вопрос 7
Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [58]:
import scipy

In [59]:
sample_m = np.concatenate([np.ones(m1), np.zeros(m2)])
sample_w = np.concatenate([np.ones(w1), np.zeros(w2)])

In [60]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [61]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [63]:
z_stat = proportions_diff_z_stat_ind(sample_m, sample_w)
z_stat

4.46111444482329

In [64]:
print(proportions_diff_z_test(z_stat))

8.153453089576601e-06

# Вопрос 8
Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [65]:
happy = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
stats.chi2_contingency(happy)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

# Вопрос 10
Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [66]:
chi = stats.chi2_contingency(happy)[0]
chi

293.68311039689746

In [72]:
n = np.sum(happy)
K1 = 3
K2 = 3

In [74]:
vkr = np.sqrt(chi/(n*(min(K1, K2)-1)))
vkr

0.2412013934500338