# Вопрос 4
Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('illiteracy.txt', sep='\t')

In [6]:
data

      Country  Illit  Births
0     Albania   20.5    1.78
1     Algeria   39.1    2.44
2     Bahrain   15.0    2.34
3      Belize    5.9    2.97
4       Benin   73.5    5.60
..        ...    ...     ...
89  Venezuela    6.9    2.65
90    Vietnam    8.5    1.78
91      Yemen   69.8    5.87
92     Zambia   25.2    5.40
93   Zimbabwe   12.9    3.34

[94 rows x 3 columns]

In [9]:
from scipy import stats
stats.pearsonr(data.Illit, data.Births)

(0.7686630271151789, 1.5029095259924921e-19)

In [10]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [11]:
stats.spearmanr(data.Illit, data.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)